.header {
  background-color: rgb(234,231,220);
  color:rgb(43,56,86);
}

h1 {
  color : blue;
  font-family: : Calibri;
  background-color: white;
}

td {
  color : orange;
  font-family: Calibri;
  text-align:center;
  font-size: 30px;
  background-color: white;
}

h2 {
  font-weight:normal;
  font-family:Calibri;
  color:orange;
  background-color:blue;
}
