
* {
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.Luca {
    font-family: "Open Sans" !important;
    text-transform: uppercase !important;
    letter-spacing: 5px !important;
    display: block;
    max-width: 500px;
    font-size:40px;
}
.welcome{
  background-image: image(./DC.jpg);
  vertical-align: middle;
  filter: sepia(50%);
  background-position: 50% 50% ;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
}

.welcome h2{
    height: 750px;
    padding-left: 50%;
    padding-top: 25%;
    color: white;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 10px;
  font-weight:bolder;
}

.layer {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

nav li{
  display: inline-block;
  padding: 20px;
}

.body{
  padding-left: 500px;
  padding-right: 500px;
}

footer h4 {
  margin-top: 1000px;
  margin-left: 1100px;
  font-weight: lighter;
  font-size: small;
}
